body {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.error {
  color: red;
}

.description {
  background: #D3D3D3;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
}

.question_list {
  background-color: #D4D4D4;
  padding: 5px;
  margin: 5px;

}



/*= require foundation */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
