body {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/*= require foundation */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
