/*= require foundation */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #918b8b;
}

a {
  color: #59ad00;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.right {
  float: right;
}

.description {
  background: #D3D3D3;
  padding: 5px;
  font-size: 1em;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #C2C2C2;
}

.question_list {
  padding: 10px;
  background-color: #D4D4D4;
  color: black;
}

.question_list:hover {
  background-color: #C2C2C2;
}

.answer-count {
  background-color: black;
  position: relative;
  top: 3px;
}

.answer-count-text {
    color: black;
    font-size: .7em;
    font-weight: bold;
    line-height: 10%;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-top: 5px;
    margin-bottom: 3px;
    background-color: #ffbf00; 

}

.answer-count-text-large {
    color: black;
    font-size: 1em;
    line-height: 10%;
    padding: 15px;
    background-color: #ffbf00; 

}

.chosen {
  background-color: #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #C2C2C2;
}

.result {
  background-color: #E8E8E8;
  border-radius: 5px;
  border-style: solid;
  border-color: #C2C2C2;
  border-width: 1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.alert-success {
  background-color: #BAFFCA;
  padding: 20px;
  border-color: green;
  text-align: center;
}

.alert-fail {
  background-color: #FFBABA;
  padding: 20px;
  border-color: red;
  text-align: center;
}

.username {
  color: white;
}

.nav-thumb {
  height: 35px;
  img {
  height: 35px;
  }
}

.center {
  text-align: center;
}

.hidden {
  display: hidden;
}

.user-list {
  position: relative;
  float: left;
  margin: 5px;
}

.user-title {
  font-size: 3em;

}

.profile-contact {
  padding: 10px;
  border-radius: 5px;
  background-color: #C7C7C7;
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-profile {
}

.answers {
  float: left !important;
}

.image-container {
    width: 70px;
    height: 70px;
}

/* resize images */
.question-photo {
    width: 100%;
    height: auto;
    margin: 5px;
}

.qasked, .qanswered, .username-title {
  padding: 10px;
  background-color: #ffbf00;
  margin: 10px;
  box-shadow: 5px 5px 5px #5b5a5a;
}


.button-submit {
  background-color: #ffbf00;
  box-shadow: 5px 5px 5px #5b5a5a;
  color: black;
}

.button-submit:hover {
  background-color: #e20d0d;
  color: black;
}

.logged-out {
  font-size: 80px;
  font-weight: bold;
  color: #0fc4a3;
  text-align: center;
}

input {
  border-radius: 5px;
  border-color: black;
}