/*= require foundation */

@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.right {
  float: right;
}

.description {
  background: #D3D3D3;
  padding: 5px;
  font-size: 0.8em;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #C2C2C2;
}

.question_list {
  padding: 10px;
  background-color: #D4D4D4;
  color: black;
}

.question_list:hover {
  background-color: #C2C2C2;
}

.answer-count {
  background-color: black;
  position: relative;
  top: 3px;
  .answer-count-text {
    color: white;
    font-size: .7em;
    line-height: 10%;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-top: 5px;
    margin-bottom: 3px;

  }
}

.chosen {
  background-color: #E8E8E8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #C2C2C2;
}

.result {
  background-color: #E8E8E8;
  border-radius: 5px;
  border-style: solid;
  border-color: #C2C2C2;
  border-width: 1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.alert-success {
  background-color: #BAFFCA;
  padding: 20px;
  border-color: green;
  text-align: center;
}

.alert-fail {
  background-color: #FFBABA;
  padding: 20px;
  border-color: red;
  text-align: center;
}

.username {
  padding: 10px;
  color: white;
}

.nav-thumb {
  height: 35px;
  margin-top: 5px;
}

.center {
  text-align: center;
}

.hidden {
  display: hidden;
}
